@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main{
    width: 90%;
    height: 67vh;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1rem;
}

main section{
    width: 45%;
    height: 90%;
}

#contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contacts-items{
    width: 90%;
    padding: 1rem 0;
    /* background-color: #fff; */
    display: flex;
    margin-left: 1.7rem;
    border-radius: 7px;
}
.icon{
    width: 50px;
    height: 50px;
    background-color: #c7def0;
    color: white;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    border-radius: 1rem;
}

.contacts-items:hover .icon{
    background-color: #1F2235;
}

.contacts-items-text{
    width: 60%;
    height: 100%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #1F2235;
}
.contacts-items h2,.contacts-items p{
    margin: 0;
    font-weight: 400;

}

#social-medias{
    width: 120px;
    justify-content: space-evenly;
    margin-right: auto;
    background-color: none;
}

#message{
    border-radius: 8px;
}

form{
    width: 90%;
    /* height: 87%; */
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-evenly; */
    /* align-items: center;
    background-color: rebeccapurple;
    box-shadow: 1px 1px 3px 1px black; */

}

form input, form textarea{
    width: 90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #1F2235;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    outline: none;
}

form button{
    width: 50%;
    padding: 0.375rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #eee;
    background-color: #1F2235;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    margin: 0px auto;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 1px black;
    cursor: pointer;
}

::placeholder{
    color: #1F2235;
}

form button:hover{
    background-color: #171a2a;
}
form input:hover, textarea:hover{
    background-color: #e4e0e0;
}



#message{
    display: flex;
    justify-content: center;
    align-items: center;
}

#name-email{
    width: 90%;
    height: 50px;
    margin: 0 auto;
}

#name-email input{
    width: 45%;
}