body{
    margin: 0;
    padding: 0;
    background-color: #eeecb9;
}
#welcome-msg{
    width: 100%;
    padding: 5rem 0;
    margin-top: 0.1em;
    position: relative;
    opacity: 55%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wlc{
    width: 50%;
    height: 400px;
    background-color: #fff;
    margin-left: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.wlc h1{
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
    color: #5e5e5e;
    margin: 0px;
    margin-right: 5rem;
}

.wlc p{
    width: 50%;
    margin-right: 5rem;
}

#img{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: yellow;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    right: 16rem;
    top: 7rem;
}
